* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: 1440vw;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  text-align: center;
  /* background-color: #ffffff; */
}
ul {
  display: flex;
}
ul li {
  margin-top: 10px;
  list-style: none;
  margin-left: 2.5rem;
}
ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
}
.icon {
  margin-top: 10px;
}
.icon img {
  margin-left: 40px;
  height: 26px;
  width: 26px;
}

/* filter-section  */
.filter-section {
  width: 1440px;
  padding: 30px 50px;
  margin: 0 auto;
  background-color: #f9f1e7;
  display: flex;
  justify-content: space-between;
}
.filter {
  display: flex;
  margin-left: 50px;
}
.vertical-line {
  border: 1px solid #9f9f9f;
  margin-left: 20px;
}
.filter img,
p {
  margin-left: 40px;
}
.filter-left :nth-of-type(even) {
  padding: 0 10px;
  background-color: #fff;
}
/* Products  */
.product-section {
  width: 1236px;
  /* height: 1084px; */
  margin: 60px auto;
}
.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  width: 285px;
  height: 446px;
  background-color: #f4f5f7;
}
.products div {
  flex: 1;
}
.product h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #3a3a3a;
}
#product-para {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #898989;
}
.product p {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #3a3a3a;
}
.product p del {
  color: #b0b0b0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: line-through;
}
.progress-step {
  display: flex;
  justify-content: center;
}
.progress-step p {
  background-color: #f9f1e7;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 10px;
}
#step-1 {
  background-color: #b88e2f;
  color: #fff;
}
.product-info {
  padding: 20px;
}

/* support-section */

.support-section {
  width: 1350px;
  display: flex;
  justify-content: space-between;
  padding: 80px 80px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #faf3ea;
}
.support {
  display: flex;
}
.support div {
  margin-left: 10px;
}
.support h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #242424;
}
.support p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #898989;
}

/* horizontal line  */
.hr {
  max-width: 1440vw;
  border: 1px solid #d9d9d9;
  margin: 0px auto;
}

/* footer  */
footer {
  /* width: 1440px;
    height: 505px; */
  min-width: 50px;

  margin-top: 40px;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
}
.address {
  margin-top: 30px;
}
.funiro-logo img {
  margin-left: 40px;
}

.funiro-logo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #9f9f9f;
}
.links p {
  margin-bottom: 40px;
}
.help p {
  margin-bottom: 40px;
}
.newsletter p {
  margin-bottom: 40px;
}

.links,
.help,
.newsletter {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.menu-head {
  color: #9f9f9f;
}
.news-para {
  color: #9f9f9f;
  margin-right: 10px;
  padding-right: 15px;
}
.subscribe {
  font-weight: 400;
}
.news-para,
.subscribe {
  font-weight: 400;
  font-size: 14px;

  border-bottom: 1px solid #000000;
}
hr {
  margin-left: 7.87rem;
  margin-right: 7rem;
}
.copywrite {
  margin-top: 20px;
  margin-left: 128px;
}
