<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Page</title>
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- raw css  -->
    <link rel="stylesheet" href="./../css/shop.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="./../images/HomePage/logo.png" alt="logo" />
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./shop.html">Shop</a></li>
          <li><a href="./blog.html">Blog</a></li>
          <li><a href="./asgaardSofa.html">Asgaard Sofa</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
        <div class="icon">
          <img
            class="icon-1"
            src="./../images/HomePage/Vector.png"
            alt="vector"
          />
          <img src="./../images/HomePage/akar-icons_search.png" alt="search" />
          <img src="./../images/HomePage/akar-icons_heart.png" alt="heart" />
          <img
            src="./../images/HomePage/ant-design_shopping-cart-outlined.png"
            alt="shop-cart"
          />
        </div>
      </nav>
    </header>

    <section class="template">
      <img src="./../images/Shop Page/Group 78.png" alt="" width="100%" />
    </section>
    <section class="filter-section">
      <div class="filter">
        <img
          src="./../images/Shop Page/system-uicons_filtering.png"
          alt="filtering"
        />
        <p>Filter</p>
        <img
          src="./../images/Shop Page/ci_grid-big-round.png"
          alt="ci_grid-big-round"
        />
        <img src="./../images/Shop Page/bi_view-list.png" alt="bi_view-list" />
        <div class="vertical-line"></div>
        <p>Showing 1–16 of 32 results</p>
      </div>
      <div class="filter filter-left">
        <p>Show</p>
        <p>16</p>
        <p>Short by</p>
        <p>Default</p>
      </div>

      <div></div>
    </section>

    <section class="product-section">
      <div class="products">
        <div class="product">
          <img src="./../images/HomePage/Syltherine.png" alt="Syltherine" />
          <div class="product-info">
            <h3>Syltherine</h3>
            <p id="product-para">Stylish cafe chair</p>
            <p>Rp 2.500.000 <del>Rp 3.500.000</del></p>
          </div>
        </div>

        <div class="product">
          <img src="./../images/HomePage/Leviosa.png" alt="Leviosa" />
        </div>

        <div class="product">
          <img src="./../images/HomePage/Lolito.png" alt="Lolito" />
          <div class="product-info">
            <h3>Lolito</h3>
            <p id="product-para">Luxury big sofa</p>
            <p>Rp 7.000.000 <del>Rp 14.000.000</del></p>
          </div>
        </div>

        <div class="product">
          <img src="./../images/HomePage/Respira.png" alt="Respira" />
          <div class="product-info">
            <h3>Respira</h3>
            <p id="product-para">Outdoor bar table and stool</p>
            <p>Rp 500.000</p>
          </div>
        </div>

        <div class="product">
          <img src="./../images/HomePage/Syltherine.png" alt="Syltherine" />
          <div class="product-info">
            <h3>Syltherine</h3>
            <p id="product-para">Stylish cafe chair</p>
            <p>Rp 2.500.000 <del>Rp 3.500.000</del></p>
          </div>
        </div>
        <div class="product">
          <img src="./../images/HomePage/image 2.png" alt="Syltherine" />
          <div class="product-info">
            <h3>Leviosa</h3>
            <p id="product-para">Stylish cafe chair</p>
            <p>Rp 2.500.000</p>
          </div>
        </div>
        <div class="product">
          <img src="./../images/HomePage/Lolito.png" alt="Lolito" />
          <div class="product-info">
            <h3>Lolito</h3>
            <p id="product-para">Luxury big sofa</p>
            <p>Rp 7.000.000 <del>Rp 14.000.000</del></p>
          </div>
        </div>

        <div class="product">
          <img src="./../images/HomePage/Respira.png" alt="Respira" />
          <div class="product-info">
            <h3>Respira</h3>
            <p id="product-para">Outdoor bar table and stool</p>
            <p>Rp 500.000</p>
          </div>
        </div>

        <div class="product">
          <img src="./../images/HomePage/Syltherine.png" alt="Syltherine" />
          <div class="product-info">
            <h3>Syltherine</h3>
            <p id="product-para">Stylish cafe chair</p>
            <p>Rp 2.500.000 <del>Rp 3.500.000</del></p>
          </div>
        </div>
        <div class="product">
          <img src="./../images/HomePage/image 2.png" alt="Syltherine" />
          <div class="product-info">
            <h3>Leviosa</h3>
            <p id="product-para">Stylish cafe chair</p>
            <p>Rp 2.500.000</p>
          </div>
        </div>
        <div class="product">
          <img src="./../images/HomePage/Lolito.png" alt="Lolito" />
          <div class="product-info">
            <h3>Lolito</h3>
            <p id="product-para">Luxury big sofa</p>
            <p>Rp 7.000.000 <del>Rp 14.000.000</del></p>
          </div>
        </div>

        <div class="product">
          <img src="./../images/HomePage/Respira.png" alt="Respira" />
          <div class="product-info">
            <h3>Respira</h3>
            <p id="product-para">Outdoor bar table and stool</p>
            <p>Rp 500.000</p>
          </div>
        </div>
        <div class="product">
          <img src="./../images/HomePage/Syltherine.png" alt="Syltherine" />
          <div class="product-info">
            <h3>Syltherine</h3>
            <p id="product-para">Stylish cafe chair</p>
            <p>Rp 2.500.000 <del>Rp 3.500.000</del></p>
          </div>
        </div>
        <div class="product">
          <img src="./../images/HomePage/image 2.png" alt="Syltherine" />
          <div class="product-info">
            <h3>Leviosa</h3>
            <p id="product-para">Stylish cafe chair</p>
            <p>Rp 2.500.000</p>
          </div>
        </div>
        <div class="product">
          <img src="./../images/HomePage/Lolito.png" alt="Lolito" />
          <div class="product-info">
            <h3>Lolito</h3>
            <p id="product-para">Luxury big sofa</p>
            <p>Rp 7.000.000 <del>Rp 14.000.000</del></p>
          </div>
        </div>

        <div class="product">
          <img src="./../images/HomePage/Respira.png" alt="Respira" />
          <div class="product-info">
            <h3>Respira</h3>
            <p id="product-para">Outdoor bar table and stool</p>
            <p>Rp 500.000</p>
          </div>
        </div>
      </div>
      <div class="progress-step">
        <p id="step-1">1</p>
        <p>2</p>
        <p>3</p>
        <p>Next</p>
      </div>
    </section>
    <section>
      <div class="support-section">
        <div class="support">
          <div>
            <img
              src="./../images/Shop Page/high-quality.png"
              alt="High-Quality"
            />
          </div>
          <div>
            <h3>High Quality</h3>
            <p>crafted from top materials</p>
          </div>
        </div>
        <div class="support">
          <div>
            <img src="./../images/Shop Page/guarantee.png" alt="High-Quality" />
          </div>
          <div>
            <h3>Warranty Protection</h3>
            <p>Over 2 years</p>
          </div>
        </div>
        <div class="support">
          <div>
            <img src="./../images/Shop Page/shipping.png" alt="High-Quality" />
          </div>
          <div>
            <h3>Free Shipping</h3>
            <p>Order over 150 $</p>
          </div>
        </div>
        <div class="support">
          <div>
            <img
              src="./../images/Shop Page/customer-support.png"
              alt="High-Quality"
            />
          </div>
          <div>
            <h3>24 / 7 Support</h3>
            <p>Dedicated support</p>
          </div>
        </div>
      </div>
    </section>

    <div class="hr"></div>
    <footer>
      <div class="footer-container">
        <div class="funiro-logo">
          <img src="./../images/HomePage/Funiro..png" alt="Footter-logo" />
          <p class="address">400 University Drive Suite 200 Coral</p>
          <p>Gables,</p>
          <p class="country">FL 33134 USA</p>
        </div>

        <div class="links">
          <p class="menu-head">Links</p>
          <p>Home</p>
          <p>Shop</p>
          <p>About</p>
          <p>Contact</p>
        </div>

        <div class="help">
          <p class="menu-head">Help</p>
          <p>Payment Options</p>
          <p>Returns</p>
          <p>Privacy Policies</p>
        </div>
        <div class="newsletter">
          <p class="menu-head">Newsletter</p>
          <p>
            <span class="news-para"> Enter Your Email Address </span>
            <span class="subscribe">SUBSCRIBE</span>
          </p>
        </div>
      </div>
      <hr />
      <p class="copywrite">2023 furino. All rights reverved</p>
    </footer>
  </body>
</html>
